/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Kalam:400,700);
/* line 5, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 28, ../sass/screen.scss */
body {
  background: #113550;
  color: #113550;
  font-family: 'Kalam', cursive;
  overflow: hidden;
}

/* line 35, ../sass/screen.scss */
button {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #113550;
  color: #FFFFFF;
  line-height: 2.2em;
  padding: 0px 1em;
  border: none;
  cursor: pointer;
  font-family: 'Kalam', cursive;
}
/* line 20, ../sass/screen.scss */
button:hover {
  background-color: #0d273b;
}

/* line 39, ../sass/screen.scss */
.map-container {
  margin: 30px auto;
}
@media (orientation: landscape) {
  /* line 39, ../sass/screen.scss */
  .map-container {
    width: 150vmin;
  }
}
@media (min-aspect-ratio: 20 / 7) {
  /* line 39, ../sass/screen.scss */
  .map-container {
    width: 140vmin;
  }
}
@media (min-aspect-ratio: 20 / 5) {
  /* line 39, ../sass/screen.scss */
  .map-container {
    width: 130vmin;
  }
}
@media (orientation: portrait) {
  /* line 39, ../sass/screen.scss */
  .map-container {
    width: 80vmin;
  }
}

/* line 55, ../sass/screen.scss */
.country-text {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-transition: color 0.05s ease-in-out;
  -o-transition: color 0.05s ease-in-out;
  -webkit-transition: color 0.05s ease-in-out;
  transition: color 0.05s ease-in-out;
  position: fixed;
  bottom: 50px;
  left: 50vw;
  width: 30vw;
  margin-left: -15vw;
  font-size: 2em;
  font-size: 3vh;
  line-height: 1.5em;
  outline: none;
  font-family: 'Kalam', cursive;
  padding: 5px 20px;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  text-align: center;
  color: #FFF;
  opacity: 0.6;
}
/* line 75, ../sass/screen.scss */
.country-text:disabled {
  opacity: 0.1;
}
/* line 79, ../sass/screen.scss */
.country-text.correct {
  color: #A3ECC1;
  -moz-animation-name: bounce;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -moz-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -moz-animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

/* line 87, ../sass/screen.scss */
::-webkit-input-placeholder {
  color: #ccc;
}

/* line 90, ../sass/screen.scss */
:-moz-placeholder {
  color: #ccc;
  opacity: 1;
}

/* line 94, ../sass/screen.scss */
::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}

/* line 98, ../sass/screen.scss */
:-ms-input-placeholder {
  color: #ccc;
}

/* line 102, ../sass/screen.scss */
.scoreboard {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  width: 100%;
  background: #eee;
  padding: 5px 0px;
  z-index: 10;
  font-size: 0.8em;
  line-height: 1.2em;
}
/* line 113, ../sass/screen.scss */
.scoreboard .country-list-wrapper {
  -moz-transition-property: height, padding;
  -o-transition-property: height, padding;
  -webkit-transition-property: height, padding;
  transition-property: height, padding;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  overflow: hidden;
  height: 0;
  overflow-y: scroll;
}
/* line 120, ../sass/screen.scss */
.scoreboard .country-list-wrapper.open {
  height: 80vh;
  padding: 20px 0px;
}
/* line 125, ../sass/screen.scss */
.scoreboard .country-list-wrapper .country-list {
  overflow: hidden;
  *zoom: 1;
  width: 1060px;
  margin: 0 auto;
}
/* line 130, ../sass/screen.scss */
.scoreboard .country-list-wrapper .country-list .region {
  float: left;
  margin-right: 20px;
}
/* line 134, ../sass/screen.scss */
.scoreboard .country-list-wrapper .country-list .region .region-title {
  font-size: 1.2em;
  line-height: 1.2em;
  margin-bottom: 10px;
  text-align: center;
}
/* line 141, ../sass/screen.scss */
.scoreboard .country-list-wrapper .country-list .region ul {
  width: 100px;
}
/* line 143, ../sass/screen.scss */
.scoreboard .country-list-wrapper .country-list .region ul li.country-tile {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  width: 100px;
  margin-bottom: 4px;
  padding: 2px 5px;
  min-height: 20px;
  background: #fff;
  vertical-align: top;
}
/* line 154, ../sass/screen.scss */
.scoreboard .country-list-wrapper .country-list .region ul li.country-tile.guessed {
  background: #87C5A0;
  color: #fff;
}
/* line 159, ../sass/screen.scss */
.scoreboard .country-list-wrapper .country-list .region ul li.country-tile.revealed {
  background-color: #F69797;
  color: #fff;
}
/* line 164, ../sass/screen.scss */
.scoreboard .country-list-wrapper .country-list .region ul li.country-tile span {
  text-align: center;
  display: block;
  line-height: 16px;
}
/* line 171, ../sass/screen.scss */
.scoreboard .country-list-wrapper .country-list .region ul.double {
  -moz-columns: 2;
  -webkit-columns: 2;
  columns: 2;
  width: 220px;
}
/* line 181, ../sass/screen.scss */
.scoreboard .score {
  -moz-border-radius: 0px 0px 2px 2px;
  -webkit-border-radius: 0px;
  border-radius: 0px 0px 2px 2px;
  position: absolute;
  bottom: -36px;
  right: 60px;
  background: #EEE;
  padding: 10px 0px;
  width: 100px;
  text-align: center;
  line-height: 1.5em;
  font-size: 1em;
  letter-spacing: 1px;
  font-weight: bold;
  cursor: pointer;
}
/* line 197, ../sass/screen.scss */
.scoreboard .controls {
  text-align: center;
  padding: 20px 0px;
}
/* line 201, ../sass/screen.scss */
.scoreboard .controls button {
  font-size: 1.3em;
}

/* line 207, ../sass/screen.scss */
.timer {
  -moz-border-radius: 0px 0px 2px 2px;
  -webkit-border-radius: 0px;
  border-radius: 0px 0px 2px 2px;
  position: absolute;
  top: 10px;
  left: 20px;
  font-weight: 700;
  background: #eee;
  padding: 15px 0px 10px 0px;
  font-size: 1.4em;
  vertical-align: bottom;
  width: 120px;
  text-align: center;
  z-index: 20;
}

/* line 222, ../sass/screen.scss */
.last {
  margin-right: 0px !important;
}

@-moz-keyframes bounce {
  0%, 58%, 100% {
    -moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  33%, 43% {
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  80%, 84% {
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  /* 85% {
  	@include transform(translate3d(0,-4px,0));
  } */
}
@-webkit-keyframes bounce {
  0%, 58%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  33%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  80%, 84% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  /* 85% {
  	@include transform(translate3d(0,-4px,0));
  } */
}
@keyframes bounce {
  0%, 58%, 100% {
    -moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  33%, 43% {
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transform: translate3d(0, -30px, 0);
    -ms-transform: translate3d(0, -30px, 0);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  80%, 84% {
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transform: translate3d(0, -10px, 0);
    -ms-transform: translate3d(0, -10px, 0);
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  /* 85% {
  	@include transform(translate3d(0,-4px,0));
  } */
}
