/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Kalam:400,700);
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 12, ../sass/screen.scss */
body {
  background: #113550;
  color: #113550;
  font-family: 'Kalam', cursive;
  overflow: hidden;
}

/* line 19, ../sass/screen.scss */
.map-container {
  margin: 30px auto;
  width: 80vmax;
}

/* line 24, ../sass/screen.scss */
.country-text {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  position: fixed;
  bottom: 50px;
  left: 50vw;
  width: 30vw;
  margin-left: -15vw;
  font-size: 2em;
  font-size: 3vh;
  line-height: 1.5em;
  outline: none;
  font-family: 'Kalam', cursive;
  padding: 5px 20px;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  text-align: center;
  color: #FFF;
  opacity: 0.6;
}

/* line 44, ../sass/screen.scss */
::-webkit-input-placeholder {
  color: #ccc;
}

/* line 47, ../sass/screen.scss */
:-moz-placeholder {
  color: #ccc;
  opacity: 1;
}

/* line 51, ../sass/screen.scss */
::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}

/* line 55, ../sass/screen.scss */
:-ms-input-placeholder {
  color: #ccc;
}

/* line 59, ../sass/screen.scss */
.scoreboard {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  width: 100%;
  background: #eee;
  padding: 5px 0px;
  z-index: 10;
  font-size: 0.8em;
  line-height: 1.2em;
}
/* line 70, ../sass/screen.scss */
.scoreboard .country-list-wrapper {
  -moz-transition-property: height, padding;
  -o-transition-property: height, padding;
  -webkit-transition-property: height, padding;
  transition-property: height, padding;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  overflow: hidden;
  height: 0;
  overflow-y: scroll;
}
/* line 77, ../sass/screen.scss */
.scoreboard .country-list-wrapper.open {
  height: 80vh;
  padding: 20px 0px;
}
/* line 82, ../sass/screen.scss */
.scoreboard .country-list-wrapper .country-list {
  width: 1060px;
  margin: 0 auto;
}
/* line 86, ../sass/screen.scss */
.scoreboard .country-list-wrapper .country-list .region {
  float: left;
  margin-right: 20px;
}
/* line 90, ../sass/screen.scss */
.scoreboard .country-list-wrapper .country-list .region .region-title {
  font-size: 1.2em;
  line-height: 1.2em;
  margin-bottom: 10px;
  text-align: center;
}
/* line 97, ../sass/screen.scss */
.scoreboard .country-list-wrapper .country-list .region ul {
  width: 100px;
}
/* line 99, ../sass/screen.scss */
.scoreboard .country-list-wrapper .country-list .region ul li.country-tile {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  width: 100px;
  margin-bottom: 2px;
  margin-right: 10px;
  padding: 2px 5px;
  min-height: 20px;
  background: #fff;
}
/* line 110, ../sass/screen.scss */
.scoreboard .country-list-wrapper .country-list .region ul li.country-tile.guessed {
  background: #87C5A0;
  color: #fff;
}
/* line 115, ../sass/screen.scss */
.scoreboard .country-list-wrapper .country-list .region ul li.country-tile span {
  text-align: center;
  display: block;
  line-height: 16px;
}
/* line 122, ../sass/screen.scss */
.scoreboard .country-list-wrapper .country-list .region ul.double {
  -moz-columns: 2;
  -webkit-columns: 2;
  columns: 2;
  width: 220px;
}
/* line 132, ../sass/screen.scss */
.scoreboard .score {
  -moz-border-radius: 0px 0px 2px 2px;
  -webkit-border-radius: 0px;
  border-radius: 0px 0px 2px 2px;
  position: absolute;
  bottom: -36px;
  right: 60px;
  background: #EEE;
  padding: 10px 0px;
  width: 100px;
  text-align: center;
  line-height: 1.5em;
  font-size: 1em;
  letter-spacing: 1px;
  font-weight: bold;
  cursor: pointer;
}

/* line 149, ../sass/screen.scss */
.last {
  margin-right: 0px !important;
}
