/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Kalam:400,700);
/* line 5, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 28, ../sass/screen.scss */
html {
  height: 100%;
}

/* line 32, ../sass/screen.scss */
body {
  background: #113550;
  color: #113550;
  font-family: 'Kalam', cursive;
  overflow: hidden;
  height: 100%;
}
@media (max-width: 1040px) {
  /* line 32, ../sass/screen.scss */
  body {
    overflow-y: visible;
    -webkit-overflow-scrolling: touch;
  }
}

/* line 44, ../sass/screen.scss */
div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 48, ../sass/screen.scss */
button {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #113550;
  color: #FFFFFF;
  line-height: 2.2em;
  padding: 0px 1em;
  border: none;
  cursor: pointer;
  font-family: 'Kalam', cursive;
}
/* line 20, ../sass/screen.scss */
button:hover {
  background-color: #0d273b;
}

/* line 52, ../sass/screen.scss */
em {
  color: #308352;
  font-weight: 700;
}

/* line 57, ../sass/screen.scss */
.map-container {
  margin: 30px auto;
}
@media (orientation: landscape) {
  /* line 57, ../sass/screen.scss */
  .map-container {
    width: 90%;
  }
}
@media (min-aspect-ratio: 20 / 12) {
  /* line 57, ../sass/screen.scss */
  .map-container {
    width: 90%;
    width: 140vmin;
  }
}
@media (min-aspect-ratio: 20 / 8) {
  /* line 57, ../sass/screen.scss */
  .map-container {
    width: 90%;
    width: 130vmin;
  }
}
@media (max-width: 1040px) {
  /* line 57, ../sass/screen.scss */
  .map-container {
    width: 100%;
    position: relative;
    top: 80px;
    margin: 0px;
  }
}

/* line 78, ../sass/screen.scss */
.controls {
  overflow: hidden;
  *zoom: 1;
  position: fixed;
  bottom: 50px;
  left: 50%;
  left: 50vw;
  text-align: center;
  padding: 20px 0px;
  width: 40%;
  width: 40vw;
  margin-left: -20%;
  margin-left: -20vw;
}
@media (max-width: 1040px) {
  /* line 78, ../sass/screen.scss */
  .controls {
    width: 90%;
    margin-left: -45%;
    overflow: visible;
    top: 140px;
    position: relative;
  }
}
/* line 98, ../sass/screen.scss */
.controls button {
  font-size: 1.3em;
  font-size: 1vw;
}
@media (max-width: 1040px) {
  /* line 98, ../sass/screen.scss */
  .controls button {
    width: 50%;
    float: left;
    font-size: 1em;
  }
}
/* line 108, ../sass/screen.scss */
.controls .country-text {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-transition: background-color 0.1s ease-in-out;
  -o-transition: background-color 0.1s ease-in-out;
  -webkit-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
  width: 50%;
  font-size: 2em;
  font-size: 3vh;
  line-height: 1.5em;
  outline: none;
  font-family: 'Kalam', cursive;
  padding: 5px 20px;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  text-align: center;
  color: #FFF;
  opacity: 0.6;
}
/* line 124, ../sass/screen.scss */
.controls .country-text:disabled {
  opacity: 0.1;
}
/* line 128, ../sass/screen.scss */
.controls .country-text.correct {
  background: rgba(183, 213, 131, 0.5);
  -moz-animation-name: bounce;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -moz-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -moz-animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
@media (max-width: 1040px) {
  /* line 108, ../sass/screen.scss */
  .controls .country-text {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    display: block;
    top: -50px;
    font-size: 1.6em;
  }
}

/* line 146, ../sass/screen.scss */
::-webkit-input-placeholder {
  color: #ccc;
}

/* line 149, ../sass/screen.scss */
:-moz-placeholder {
  color: #ccc;
  opacity: 1;
}

/* line 153, ../sass/screen.scss */
::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}

/* line 157, ../sass/screen.scss */
:-ms-input-placeholder {
  color: #ccc;
}

/* line 161, ../sass/screen.scss */
.scoreboard {
  position: absolute;
  top: 0px;
  width: 100%;
  background: #eee;
  padding: 5px 0px;
  z-index: 10;
  font-size: 0.8em;
  line-height: 1.2em;
}
@media (max-width: 1040px) {
  /* line 161, ../sass/screen.scss */
  .scoreboard {
    -moz-transition-property: margin-left;
    -o-transition-property: margin-left;
    -webkit-transition-property: margin-left;
    transition-property: margin-left;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    width: 310px;
    height: 100vh;
    margin-left: -100%;
  }
  /* line 176, ../sass/screen.scss */
  .scoreboard.open {
    margin-left: 0px;
  }
}
/* line 181, ../sass/screen.scss */
.scoreboard .country-list-wrapper {
  -moz-transition-property: opacity, margin-top;
  -o-transition-property: opacity, margin-top;
  -webkit-transition-property: opacity, margin-top;
  transition-property: opacity, margin-top;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  overflow: hidden;
  opacity: 0;
  height: 90%;
  height: 80vh;
  margin-top: -80vh;
  overflow-y: scroll;
}
@media (max-width: 1040px) {
  /* line 181, ../sass/screen.scss */
  .scoreboard .country-list-wrapper {
    padding: 20px 0px;
    height: 100% !important;
    margin-top: 0;
  }
}
/* line 196, ../sass/screen.scss */
.scoreboard .country-list-wrapper.open {
  margin-top: 0vh;
  opacity: 1;
}
@media (max-width: 1040px) {
  /* line 196, ../sass/screen.scss */
  .scoreboard .country-list-wrapper.open {
    width: 100%;
    float: left;
    font-size: 1em;
  }
}
/* line 206, ../sass/screen.scss */
.scoreboard .country-list-wrapper .country-list {
  overflow: hidden;
  *zoom: 1;
  width: 1060px;
  margin: 0 auto;
  padding-top: 20px;
}
@media (max-width: 1040px) {
  /* line 206, ../sass/screen.scss */
  .scoreboard .country-list-wrapper .country-list {
    width: 80%;
    margin: 0 auto;
  }
}
/* line 216, ../sass/screen.scss */
.scoreboard .country-list-wrapper .country-list .region {
  float: left;
}
@media (max-width: 1040px) {
  /* line 216, ../sass/screen.scss */
  .scoreboard .country-list-wrapper .country-list .region {
    float: none;
  }
}
/* line 223, ../sass/screen.scss */
.scoreboard .country-list-wrapper .country-list .region .region-title {
  font-size: 1.2em;
  line-height: 1.2em;
  margin-bottom: 10px;
  text-align: center;
}
@media (max-width: 1040px) {
  /* line 223, ../sass/screen.scss */
  .scoreboard .country-list-wrapper .country-list .region .region-title {
    font-size: 2em;
    margin-top: 30px;
  }
}
/* line 234, ../sass/screen.scss */
.scoreboard .country-list-wrapper .country-list .region ul {
  width: 100px;
  margin-right: 20px;
}
/* line 237, ../sass/screen.scss */
.scoreboard .country-list-wrapper .country-list .region ul li.country-tile {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  width: 100px;
  margin-bottom: 4px;
  padding: 2px 5px;
  min-height: 20px;
  background: #fff;
  vertical-align: top;
}
@media (max-width: 1040px) {
  /* line 237, ../sass/screen.scss */
  .scoreboard .country-list-wrapper .country-list .region ul li.country-tile {
    width: 100%;
  }
}
/* line 251, ../sass/screen.scss */
.scoreboard .country-list-wrapper .country-list .region ul li.country-tile.guessed {
  background: #87C5A0;
  color: #fff;
}
/* line 256, ../sass/screen.scss */
.scoreboard .country-list-wrapper .country-list .region ul li.country-tile.revealed {
  background-color: #F69797;
  color: #fff;
}
/* line 261, ../sass/screen.scss */
.scoreboard .country-list-wrapper .country-list .region ul li.country-tile span {
  text-align: center;
  display: block;
  line-height: 16px;
}
/* line 268, ../sass/screen.scss */
.scoreboard .country-list-wrapper .country-list .region ul.double {
  -moz-columns: 2;
  -webkit-columns: 2;
  columns: 2;
  width: 220px;
}
@media (max-width: 1040px) {
  /* line 268, ../sass/screen.scss */
  .scoreboard .country-list-wrapper .country-list .region ul.double {
    -moz-columns: 1;
    -webkit-columns: 1;
    columns: 1;
  }
}
@media (max-width: 1040px) {
  /* line 234, ../sass/screen.scss */
  .scoreboard .country-list-wrapper .country-list .region ul {
    width: 100% !important;
  }
}
/* line 284, ../sass/screen.scss */
.scoreboard .score {
  -moz-border-radius: 0px 0px 2px 2px;
  -webkit-border-radius: 0px;
  border-radius: 0px 0px 2px 2px;
  position: absolute;
  bottom: -36px;
  right: 60px;
  background: #EEE;
  padding: 10px 0px;
  width: 100px;
  text-align: center;
  line-height: 1.5em;
  font-size: 1em;
  letter-spacing: 1px;
  font-weight: bold;
  cursor: pointer;
}
@media (max-width: 1040px) {
  /* line 284, ../sass/screen.scss */
  .scoreboard .score {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 10px 0px;
    position: fixed;
    top: 10px;
    right: 10px;
    bottom: initial;
    font-size: 1.2em;
    line-height: 1em;
  }
}
/* line 310, ../sass/screen.scss */
.scoreboard .timer {
  -moz-border-radius: 0px 0px 2px 2px;
  -webkit-border-radius: 0px;
  border-radius: 0px 0px 2px 2px;
  position: absolute;
  left: 20px;
  font-weight: 700;
  background: #eee;
  padding: 15px 0px 10px 0px;
  font-size: 1.4em;
  vertical-align: bottom;
  width: 120px;
  text-align: center;
  z-index: 20;
}
@media (max-width: 1370px) {
  /* line 310, ../sass/screen.scss */
  .scoreboard .timer {
    bottom: -43px;
  }
}
@media (min-width: 1371px) {
  /* line 310, ../sass/screen.scss */
  .scoreboard .timer {
    top: 10px;
  }
}
@media (max-width: 1040px) {
  /* line 310, ../sass/screen.scss */
  .scoreboard .timer {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 10px 0px;
    position: fixed;
    font-size: 1.2em;
    top: 10px;
    left: 10px;
    bottom: initial;
    width: 100px;
  }
}

/* line 343, ../sass/screen.scss */
.ng-modal-overlay {
  -moz-animation-name: fadein-mask;
  -webkit-animation-name: fadein-mask;
  animation-name: fadein-mask;
  -moz-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -moz-animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.3;
}

/* line 356, ../sass/screen.scss */
.ng-modal-dialog {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -moz-animation-name: modal-drop;
  -webkit-animation-name: modal-drop;
  animation-name: modal-drop;
  -moz-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -moz-animation-duration: 0.3s;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-backface-visibility: visible;
  z-index: 10000;
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  background-color: #eee;
  box-shadow: 4px 4px 80px rgba(0, 0, 0, 0.5);
}
@media (max-width: 1040px) {
  /* line 356, ../sass/screen.scss */
  .ng-modal-dialog {
    width: 90% !important;
  }
}

/* line 376, ../sass/screen.scss */
.ng-modal-dialog-content {
  padding: 30px;
  text-align: center;
}
/* line 380, ../sass/screen.scss */
.ng-modal-dialog-content h1 {
  font-size: 3em;
  font-weight: 700;
}
/* line 385, ../sass/screen.scss */
.ng-modal-dialog-content p {
  padding-bottom: 1em;
  line-height: 1.3em;
}
/* line 390, ../sass/screen.scss */
.ng-modal-dialog-content .score {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-size: 1.5em;
  display: block;
  background: #fff;
  margin: 0.6em auto;
  padding: 0.6em 0em;
  width: 200px;
}

/* line 401, ../sass/screen.scss */
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 1.2em;
  color: #113550;
  display: inline-block;
  font-weight: bold;
}

/* line 415, ../sass/screen.scss */
.last {
  margin-right: 0px !important;
}

@-moz-keyframes bounce {
  0%, 58%, 100% {
    -moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  33%, 43% {
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transform: translate(0, -20px);
    transform: translate(0, -20px);
  }
  80%, 84% {
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transform: translate(0, -10px);
    transform: translate(0, -10px);
  }
}
@-webkit-keyframes bounce {
  0%, 58%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  33%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate(0, -20px);
    transform: translate(0, -20px);
  }
  80%, 84% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate(0, -10px);
    transform: translate(0, -10px);
  }
}
@keyframes bounce {
  0%, 58%, 100% {
    -moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  33%, 43% {
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transform: translate(0, -20px);
    -ms-transform: translate(0, -20px);
    -webkit-transform: translate(0, -20px);
    transform: translate(0, -20px);
  }
  80%, 84% {
    -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -moz-transform: translate(0, -10px);
    -ms-transform: translate(0, -10px);
    -webkit-transform: translate(0, -10px);
    transform: translate(0, -10px);
  }
}
@-moz-keyframes modal-drop {
  0%, 60%, 75%, 90%, 100% {
    -moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    -moz-transform: translate(-50%, -200%);
    transform: translate(-50%, -200%);
  }
  100% {
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  70%, 80% {
    -moz-transform: translate(-50%, -46%);
    transform: translate(-50%, -46%);
  }
}
@-webkit-keyframes modal-drop {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    -webkit-transform: translate(-50%, -200%);
    transform: translate(-50%, -200%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  70%, 80% {
    -webkit-transform: translate(-50%, -46%);
    transform: translate(-50%, -46%);
  }
}
@keyframes modal-drop {
  0%, 60%, 75%, 90%, 100% {
    -moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    -moz-transform: translate(-50%, -200%);
    -ms-transform: translate(-50%, -200%);
    -webkit-transform: translate(-50%, -200%);
    transform: translate(-50%, -200%);
  }
  100% {
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  70%, 80% {
    -moz-transform: translate(-50%, -46%);
    -ms-transform: translate(-50%, -46%);
    -webkit-transform: translate(-50%, -46%);
    transform: translate(-50%, -46%);
  }
}
@-moz-keyframes fadein-mask {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.3;
  }
}
@-webkit-keyframes fadein-mask {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.3;
  }
}
@keyframes fadein-mask {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.3;
  }
}
